<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Main Page</title>
</head>
<body>
	<div class="container d-flex flex-column justify-content-center align-items-center">
		<h2>{{pageTitle}}</h2>
        <p id="txt1"></p>
        <button id="copy" class="btn" style="width: 4rem;">Doit</button>
		
        <p id="titles" class="d-none">{{titles}}</p>
        <p id="years" class="d-none">{{years}}</p>
        <p id="genres" class="d-none">{{genres}}</p>
        <p id="posters" class="d-none">{{posters}}</p>

        <div class="row" style='visibility: hidden'>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"  alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    
	</div>
    
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function doit() {
            var str_titles = document.querySelector('#titles').innerHTML;
            var str_years = document.querySelector('#years').innerHTML;
            var str_genres = document.querySelector('#genres').innerHTML;
            var str_posters = document.querySelector('#posters').innerHTML;

            var titles = str_titles.split(',');
            var years= str_years.split(',');
            var genres = str_genres.split(';,');
            var posters = str_posters.split(',');


            genres[genres.length - 1] = genres[genres.length - 1].replace(';', '');

            for(var i = 0; i < titles.length; i++) {
                console.log(titles[i]);
                console.log(years[i]);
                console.log(genres[i]);
                console.log(posters[i] + '\n\n');
            }
            $('.row').css('visibility', 'visible')
            $('.card-img-top').attr('src', 'https://i.pinimg.com/originals/0f/03/e6/0f03e6733b0cf567cc92e8e20290462f.jpg');
            $('.card-title').html(titles[0] + ' (' + years[0] + ')');
            $('.card-text').html(genres[0]);
        }

       
        document.querySelector("#copy").addEventListener("click", doit);
    </script>
</body>
</html>